@font-face {
	font-family: 'Staatliches';
	font-display: swap;
	src: url('$lib/assets/fonts/Staatliches-Regular.ttf');
}

@font-face {
	font-family: 'Cherry';
	font-display: swap;
	src: url('$lib/assets/fonts/Cherry Monospace-Light.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url('$lib/assets/fonts/Montserrat-VariableFont_wght.ttf'),
		url('$lib/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	h5 {
		@apply text-xl;
	}
}
